Repository CESARBR/knot-documentation, pull requests merged in 2019-08, with the labels that each got.

#28 quick-start: gateway: Add flash gateway section
  doc/quick-start/qs-guide.rst
Labels: area: Gateway, area: Quick Start, enhancement, priority: medium

#29 quick-start: Add link to see registered things
  doc/quick-start/qs-guide.rst
Labels: area: Gateway, area: Quick Start, enhancement, priority: low

#27 cloud: deploy: Add guide section
  doc/cloud/cloud-deploy.rst
  doc/cloud/cloud.rst
Labels: enhancement
